<link rel="import" href="./tracker-child.html">
<script type="text/javascript">
	Vue.component('tracker',{
		template: `
		<div class='card'>
		<tracker-child v-bind:style="style" v-bind:message="message"></tracker-child>
		</div>
		`,
		methods: {
			update: function($event) {
				console.log($event);
			}
		},
		data: () => ({
				style: "color:red;",
				message:"Please log in."
			}
		),
		created: function () {
			console.log("register");
			this.$parent.$on("login_event", () => {
				this.message=this.$store.getters.loggedInUser.user.name +" logged in at " + new Date();
				this.style="color:green;"
			});
			this.$parent.$on("logout_event", () => {
				this.message=this.$store.getters.loggedInUser.user.name +" logged out at " + new Date();
				this.style="color:red;"
			});
		}
	});
</script>